.carousel-item {
    height: 400px; /* Ajusta la altura según tus necesidades */
    background-color: #0D274D; /* Color de fondo oscuro */
    color: white; /* Texto en color blanco */
    text-align: center; /* Alineación del texto */
}

.carousel-caption {
    background: rgba(0, 0, 0, 0.3); /* Fondo semitransparente para las leyendas */
    border-radius: 10px; /* Bordes redondeados */
    padding: 20px; /* Padding adecuado */
}

.carousel-item img {
    height: 100%;
    object-fit: cover; /* Asegura que la imagen cubra el espacio adecuadamente */
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: #000; /* Iconos con fondo negro para mayor visibilidad */
    border-radius: 50%; /* Forma circular */
    width: 40px; /* Tamaño del icono */
    height: 40px; /* Tamaño del icono */
}
/* Incluye este CSS en tu archivo global.css o similar */
.navbar {
    background-color: #fff; /* Fondo blanco para la barra de navegación */
}

.nav-link, .navbar-brand {
    color: #007bff; /* Estilo de color azul para los enlaces */
}

.navbar-brand {
    font-weight: bold; /* Hace que el logo sea más destacado */
}

/* Ajusta los estilos de los botones y el formulario de búsqueda como se describió anteriormente si es necesario */
